@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

html
{
  scroll-behavior: smooth;
}
body#index
{
  background-color: #191e2b;
	margin-top: 57px;
  font-family: 'Russo One', sans-serif !important;
  color: lightgrey;
}
.bg-dark {
    background-color: #212837!important;
}
.container#index
{
  max-width: 1250px;
}
.container#news
{
  margin-top:10px;
  background-color: #212837!important;
  border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link
{
  color: lightgrey;
}
.navbar-dark:hover .navbar-nav:hover .nav-link:hover
{
  color: white;
}
